
:root {
  --header-height: 120px;
}

nav {
  display: flex;
  height: var(--header-height);
  background: #4056A1;
  color: #ffffff; 
  font-family: 'Bungee', sans-serif;
  position: fixed;
  top: 0px;
  width: 100%;
  padding: .2em;
  justify-content: space-between;
}

span {
  display: flex;
  font-family: 'Bungee', sans-serif;
  padding: 1.5em;
  align-items: flex-end;
}

.tagline {
  display: inline;
  font-family: 'Source Sans Pro', sans-serif;
  align-items: center;
  font-size: 24px;
}


@media only screen and (min-width: 1024px) {

  .tagline {
    display: inline;

  }
}
