label {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.new-tweet {
  margin-bottom: 5em;
}

#tweet-text {
  width: 100%;
}

.tweet-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button {
  display: flex;
  background-color: #4056A1;
  color: white;
  border: none;
  margin-top: .1em;
  padding: 3px;
}

textarea {
  display: flex;
  background-color: #f3f1ec;
  align-items: center;
  border-style: hidden;
  border-bottom: 1px solid;

}

.error {
  color: red;
  font-weight: bold;
}